.wrap {
    .list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .list > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .row_left {
            display: flex;
            align-items: center;
        }
        .class_info {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-left: 10px;
        }
        .tit_list {
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--grey700);
        }
        .status {
            display: flex;
            gap: 4px;
        }
        .status .tag {
            padding: 4px 7px;
            background-color: var(--themeColor);
            color: var(--txtColor);
            font-size: 1.1rem;
            border-radius: 4px;
        }
    }
    .bottom_btn {
        width: 100%;
        padding: 20px 0;
        margin: 20px 0 -20px;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--themeColor);
        border-top: 1px solid var(--grey100);
        background-color: #fff;
    }
}
