.wrap {
    padding: 20px;
}
.tit {
    font-size: 1.8rem;
    line-height: 32px;
    font-weight: 700;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    & > li {
        padding: 20px;
        border: 1px solid var(--grey100);
        border-radius: 8px;
        box-shadow:
            rgba(158, 167, 174, 0.1) 0px 1px 2px 0px,
            rgba(156, 166, 173, 0.15) 0px 1px 3px 1px;
    }
    padding: 15px 0;
    .accordion_btn {
        text-align: start;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0;
        color: var(--black300);
    }
    .content {
        font-size: 1.4rem;
    }
}
