.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  font-weight: 600;
}

.wrap.primary {
  background-color: var(--themeColor);
  color: #fff;
  &:disabled {
    color: var(--grey300);
    background-color: var(--grey100);
  }
}

.wrap.outlined {
  background-color: #fff;
  color: var(--themeColor);
  border: 1px solid var(--themeColor);
  &:disabled {
    color: var(--txtColor);
    background-color: var(--grey100);
  }
  &:active {
    background-color: #f3f2ff;
  }
}

.wrap.light {
  background-color: #f3f2ff;
  color: var(--themeColor);
  &:disabled {
    color: var(--txtColor);
    background-color: var(--grey100);
  }
  &:active {
    background-color: #d7daff;
  }
}

.wrap.grey {
  background-color: #fff;
  color: var(--black400);
  border: 1px solid var(--themeColor);
  &:disabled {
    color: var(--txtColor);
    background-color: var(--grey100);
  }
  &:active {
    background-color: #dadada;
  }
}

.wrap.shadow {
  background-color: #fff;
  border: 1px solid var(--themeColor);
  box-shadow:
    rgba(158, 167, 174, 0.1) 0px 1px 2px 0px,
    rgba(156, 166, 173, 0.15) 0px 1px 3px 1px;
  color: var(--black300);
  &:active {
    background-color: var(--grey100);
  }
}

.wrap.size_32 {
  font-size: 1.2rem;
  height: 32px;
}
.wrap.size_36 {
  font-size: 1.4rem;
  height: 36px;
}
.wrap.size_40 {
  font-size: 1.5rem;
  height: 40px;
}
.wrap.size_44 {
  font-size: 1.6rem;
  height: 44px;
}
.wrap.size_50 {
  font-size: 1.7rem;
  height: 50px;
}
.wrap.size_56 {
  font-size: 1.8rem;
  height: 56px;
}
.wrap.size_64 {
  font-size: 1.9rem;
  height: 64px;
}
