.wrap {
  padding: 0 20px;
  margin-top: 40px;
}
.tit {
  font-size: 1.7rem;
  font-weight: 600;
}
.label {
  margin: 30px 0 10px;

  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--block400);
  font-weight: 600;
  .required {
    padding: 5px 0 0 4px;
    color: var(--red300);
    font-size: 1.3rem;
    font-weight: 600;
  }
}
.btn_box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
