.wrap {
    position: relative;
    :global(.swiper) {
        height: 200px;
        padding: 1px;
    }
    :global(.swiper-wrapper) {
        width: 100%;
    }
    :global(.swiper-slide) {
        width: auto;
    }
}
.item {
    display: flex;
    align-items: center;
    height: 50px !important;
    border-bottom: 1px solid var(--grey100);
    font-size: 1.5rem;
    color: var(--grey500);
    font-weight: 600;
}
