.wrap {
    position: relative;
    :global(.swiper) {
        height: 200px;
        padding: 1px;
    }
    :global(.swiper-wrapper) {
        width: 100%;
    }
    :global(.swiper-slide) {
        width: auto;
    }
}
.empty {
    margin: 10px 0 10px;
    position: relative;
    padding: 20px 20px 20px 50px;
    font-size: 1.7rem;
    font-weight: 600;
    background-color: var(--themeColor);
    border-radius: 8px;
    color: var(--grey100);
    .icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.item {
    width: 100%;
    button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px !important;
        font-size: 1.5rem;
        color: var(--grey500);
        font-weight: 600;
    }
}
.item + .item {
    button {
        border-top: 1px solid var(--grey100);
    }
}
