.avatar_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    .detail_btn {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .row_left {
        display: flex;
        align-items: center;
    }
    .class_info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-left: 12px;
    }
    .tit_list {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--grey500);
    }
    .desc {
        font-size: 1.4rem;
    }
}
