.wrap {
    padding: 20px;
}
.sub_tit {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black400);
}

.box {
    display: flex;
    flex-wrap: wrap;
    gap: 7px 5px;
}
.tag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 25px 8px 10px;
    background-color: var(--grey100);
    border-radius: 4px;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--grey500);
    button {
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        margin-left: 4px;
        background-color: var(--grey100);
    }
}
.oblong_input {
    padding-right: 70px !important;
}
.icon_box {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    border: 1px solid var(--grey100);
    border-radius: 0 10px 10px 0;
}
