.wrap {
    .list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .list > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .row_left {
            display: flex;
            align-items: center;
        }
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #e0eaff;
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }
        .class_info {
            margin-left: 12px;
        }
        .tit_list {
            font-size: 1.4rem;
            color: var(--grey600);
        }
        .info_list {
            margin-top: 4px;
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--black500);
        }
        .detail_btn {
            background-color: var(--themeColor);
            color: var(--txtColor);
            font-size: 1.1rem;
            font-weight: 500;
            padding: 8px 10px;
            border-radius: 4px;
        }
    }
    .bottom_btn {
        width: 100%;
        padding: 20px 0;
        margin: 20px 0 -20px;
        font-size: 1.5rem;
        font-weight: 500;
        border-top: 1px solid var(--grey100);
        background-color: #fff;
    }
}
