.wrap {
    padding: 40px;
}
.image_box {
    text-align: center;
    img {
        position: relative;
        width: 250px;
        height: 170px;
        object-fit: cover;
        text-align: center;
    }
}
.form_box {
    margin-top: 30px;
}
.link_box {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    .link {
        font-size: 1.5rem;
    }
}
