.wrap {
    .list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .list > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .row_left {
            display: flex;
            align-items: center;
        }
        .tit_list {
            margin-left: 10px;
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--themeColor);
        }
    }
    .bottom_btn {
        width: 100%;
        padding: 20px 0;
        margin: 20px 0 -20px;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--themeColor);
        border-top: 1px solid var(--grey100);
        background-color: #fff;
    }
}
