.wrap {
    width: 100%;
    position: relative;

}
.wrap.search_type {
    .search {
        position: absolute;
        left: 15px;
        top: calc(50% + 1.5px);
        transform: translateY(-50%);
    }
    .input {
        padding: 0 20px 0 40px;
        background-color: var(--grey100);
    }
}

.label {
    display: block;
    font-size: 1.7rem;
    color: var(--grey500);
    font-weight: 600;
}
.input {
    overflow: hidden;
    width: 100%;
    color: var(--black300);
    height: 100%;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1px solid var(--grey100);
    padding: 0 20px;
    &::placeholder {
        color: var(--placeholder-color);
        font-size: var(--placeholder-fontSize);
        font-weight: var(--placeholder-fontWeight);
    }
}
